html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fff;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('images/giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;   
}

button {
    height: 50px;
    width: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    outline: none;
    background: #407aff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: all .3s;
}

button:active {
    transform: scale(95%);
}

/* Media queries for tablets or smaller*/

@media screen and (max-width: 1024px) {
    .container {
        background-position: center;
    }
}